<p id="notice"><%= notice %></p>

<p>
  <strong>Q nineteen:</strong>
  <%= @aol_four.q_nineteen %>
</p>

<p>
  <strong>Q twenty:</strong>
  <%= @aol_four.q_twenty %>
</p>

<p>
  <strong>Q twentyone:</strong>
  <%= @aol_four.q_twentyone %>
</p>

<p>
  <strong>Q twentytwo:</strong>
  <%= @aol_four.q_twentytwo %>
</p>

<%= link_to 'Edit', edit_aol_four_path(@aol_four) %> |
<%= link_to 'Back', aol_fours_path %>
