<p id="notice"><%= notice %></p>

<p>
  <strong>How was student engagement and attendance during course?</strong>
  <%= @aol_four.q_nineteen %>
</p>

<p>
  <strong>Did a discrepancy occur between student's performance in the course and final exam?</strong>
  <%= @aol_four.q_twenty %>
</p>

<p>
  <strong>What Changes did you make throughout the semster? Effective? Ineffective?</strong>
  <%= @aol_four.q_twentyone %>
</p>

<p>
  <strong>What strategies do you plan to implement to improve student learning?</strong>
  <%= @aol_four.q_twentytwo %>
</p>

<%= link_to 'Edit', edit_aol_four_path(@aol_four) %> |
<%= link_to 'Complete AOL Form Submission', congrats_new_congrats_path %>
