<h1>Course Listing</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Professor Name</th>
      <th>Course title</th>
      <th>Crn</th>
      <th>Days</th>
      <th>Time</th>
      <th>Room</th>
      <th>Enrollment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_informations.each do |course_information| %>
      <tr>
        
        <td><%= "#{current_user.last_name.capitalize}" %></td>
        <td><%= course_information.Course_Title %></td>
        <td><%= course_information.CRN %></td>
        <td><%= course_information.Days %></td>
        <td><%= course_information.Time %></td>
        <td><%= course_information.Roomstring %></td>
        <td><%= course_information.Enrollment %></td>
        
        
        <% if (current_user.try(:admin?))  or (current_user == course_information.user) %>
        <td><%= link_to 'Show', course_information %></td>
        <td><%= link_to 'Edit', edit_course_information_path(course_information) %></td>
        <td><%= link_to 'Destroy', course_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
     <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course information', new_course_information_path %>
