<p id="notice"><%= notice %></p>

<p>
  <strong>What were the course learning objectives and how did the final emcompass that?</strong>
  <%= @aol_three.q_thirthteen %>
</p>

<p>
  <strong>Indicate the number of students that scored in the following ranges?</strong>
  <%= @aol_three.q_fourthteen %>
</p>

<p>
  <strong>Is the faculty satisfied with a final exam as a means to assess students? Why or why not?</strong>
  <%= @aol_three.q_fithteen %>
</p>

<p>
  <strong>On the final exam in what areas do students excel?</strong>
  <%= @aol_three.q_sixthteen %>
</p>

<p>
  <strong>What will the faculty do to improve those areas where students perform poorly?</strong>
  <%= @aol_three.q_seventeen %>
</p>

<p>
  <strong>Indicate the number of students who earn the following grade?</strong>
  <%= @aol_three.q_eightteen %>
</p>

<%= link_to 'Edit', edit_aol_three_path(@aol_three) %> |
<%= link_to 'Last Page', aol_fours_path %>
