<p id="notice"><%= notice %></p>

<p>
  <strong>Q1:</strong>
  <%= @questions_aol_1.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @questions_aol_1.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @questions_aol_1.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @questions_aol_1.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @questions_aol_1.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @questions_aol_1.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @questions_aol_1.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @questions_aol_1.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @questions_aol_1.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @questions_aol_1.q10 %>
</p>

<p>
  <strong>Q11:</strong>
  <%= @questions_aol_1.q11 %>
</p>

<p>
  <strong>Q12:</strong>
  <%= @questions_aol_1.q12 %>
</p>

<%= link_to 'Edit', edit_questions_aol_1_path(@questions_aol_1) %> |
<%= link_to 'Back', questions_aol_1s_path %>
