<%= form_for(@aol_two) do |f| %>
  <% if @aol_two.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aol_two.errors.count, "error") %> prohibited this aol_two from being saved:</h2>

      <ul>
      <% @aol_two.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :q_seven, "Describe how technology was used in the course" %><br>
    <%= f.text_field :q_seven %>
  </div>
  <div class="field">
    <%= f.label :q_eight, "What assessments did the professor use over the course to assess knowledge (other than final)?" %><br>
    <%= f.text_field :q_eight %>
  </div>
  <div class="field">
    <%= f.label :q_nine, "Did the faculty 'curve' or modify any grades during this semester" %><br>
    <%= f.text_field :q_nine %>
  </div>
  <div class="field">
    <%= f.label :q_ten, "Describe the extra credit, its value, and impact on final grade" %><br>
    <%= f.text_field :q_ten %>
  </div>
  <div class="field">
    
    <%= f.label :q_eleven, "Did the faculty adminster a comprehensive final exam to assess student knowledge" %><br>
    <%= f.text_field :q_eleven %>
  </div>
  <div class="field">
    <%= f.label :"What percentage did the final exam hold for this course" %><br>
    <%= radio_button_tag(:"q_twelve", "40%") %>
    <%= label_tag(:q_twelve, "40%") %>
    <%= radio_button_tag(:q_twelve, "30%") %>
    <%= label_tag(:q_twelve, "30%") %>
    <%= radio_button_tag(:q_twelve, "15%") %>
    <%= label_tag(:q_twelve, "15%") %>
    <%= radio_button_tag(:q_twelve, "10%") %>
    <%= label_tag(:q_twelve, "10%") %>
    <%= radio_button_tag(:q_twelve, "other") %>
    <%= label_tag(:q_twelve, "other") %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
