<h1>Listing p_infos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th>Department</th>
      <th>Room</th>
      <th>Email</th>
      <th>Ext</th>
      <th>Officehours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @p_infos.each do |p_info| %>
      <tr>
        <td><%= p_info.Name %></td>
        <td><%= p_info.Rank %></td>
        <td><%= p_info.Department %></td>
        <td><%= p_info.Room %></td>
        <td><%= p_info.Email %></td>
        <td><%= p_info.Ext %></td>
        <td><%= p_info.OfficeHours %></td>
        <td><%= link_to 'Show', p_info %></td>
        <td><%= link_to 'Edit', edit_p_info_path(p_info) %></td>
        <td><%= link_to 'Destroy', p_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New P info', new_p_info_path %>
